* {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
}

html, body, #root {
    background-color: #f1f1f1;
}

.main-content {
    padding-bottom: 75px;
    padding-top: 55px;
}
