.calendar-container {
    width: calc(100% - 32px);
    background-color: white;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid #adadad;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.1) 0px 50px 100px -20px, rgba(0, 0, 0, 0.1) 0px 30px 60px -30px;
    display: flex;
    flex-direction: column;


    .calendar-header {
        display: flex;
        width: calc(100% - 20px);
        align-items: center;
        justify-content: space-between;
        background-color: #e4e4e4;
        padding: 5px 10px;

        h2 {
            font-size: 18px;
        }

        button {
            all: unset;
            padding: 4px;
            height: fit-content;
            background-color: #ffffff;
            border-radius: 6px;
        }
    }

    .react-calendar__month-view__days {
        row-gap: 5px;
    }

    .react-calendar__month-view__days__day {
        all: unset;
        text-align: center;
        border-radius: 6px;
        width: fit-content;
    }

    .react-calendar__month-view__days__day--neighboringMonth {
        opacity: 0.5;
    }

    .react-calendar__month-view__weekdays {
        margin-bottom: 5px;
    }

    .react-calendar__month-view__weekdays__weekday {
        text-align: center;
        font-size: 14px;

        abbr {
            text-decoration: none;
        }
    }

    .react-calendar__month-view__days__day {
        font-weight: 700;

        abbr {
            padding-bottom: 5px;
        }

        &.react-calendar__month-view__days__day--neighboringMonth {
            font-weight: 400;
        }
    }

    .react-calendar {
        display: flex;
        justify-content: space-between;
        padding: 15px 10px;
        padding-top: 10px;
        margin: 0 auto;
    }
}