footer {
    background-color: #222222;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
        text-decoration: none;
    }

    .footer-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        svg {
            height: 28px;

            path {
                fill: white;
            }
        }

        p {
            color: white;
            font-size: 12px;
            font-weight: 500;
            margin-top: 3px;
        }

        &.active {
            svg {
                path {
                    fill: #ffa033;
                }
            }

            p {
                color: #ffa033;
            }
        }
    }
}